.board {
    table {
        tr {
            td {
                border: 1px solid white;
                width: 4.5rem;
                height: 4.5rem;
                text-align: center;

                &.header {
                    border: none;
                }

                &.selected {
                    border: 1px solid #0000ff;
                    background-color: #0000ff33;
                }

                &.valid-move {
                    border: 1px solid #008000;
                    background-color: #00800033;
                }

                &.invalid-move {
                    border: 1px solid #ff0000;
                    background-color: #ff000033;
                }
            }

            td:hover {
                background-color: #2d2e33;
                // cursor: pointer;
            }

            &.header {
                td {
                    border: none;
                }
            }
        }
    }
}
